.hero {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../img/runners\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero__content-desk {
    width: 40%;
}

.hero__empty {
    width: 50%  ;
}

.hero__content-desk--1 {
    padding-top: 240px;
    float:right;
    width: 50%;
    padding-bottom: 240px;
    color: #fff;
}

.hero__img {
    
    margin-right: -200px;
}

.hero__img_1 {
    margin-right: 0;
} 


.hero__content-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 30px;
}


.hero__content-desk--text {
    color: #7777;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 40px;
    
    border-left: 3px solid #8888;
    height: 100%;
}
.hero__content-desk--text--1 {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 40px;
    
    border-left: 3px solid #fff;
    height: 100%;
}

.hero__content-btn {
    outline: none !important;
    border: none !important;
    background-color: $color-oranged;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 38.5px;
    margin-top: 30px;
    color: #fff;
}

@media (max-width:375px ) {
    .hero {
        padding-top: 60px;
    }
    .hero__content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    
    }
    .hero__content-desk--heading  {
        padding-top: 41px;
    }
    .hero__content-desk {
        width: 100%;
    }
    .hero__img {
    width: 100%;
    margin-right: -125px;
}
   
    .hero__content-desk--1 {
        padding-top: 96px;
        padding-left: 12px;
        padding-right: 12px;
        width: 100%;
        padding-bottom: 105px;
    }
}
