


.site-header--1 {
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 79px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.site-header__logo-link {
    &:hover{
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }
}

@media (max-width: 542px) {
    .site-header--1 {
        display: none;
    }
}